# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
package-lock.json

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# iOS
app/ios/Pods/
app/ios/build/
app/ios/*.xcworkspace/xcuserdata/
app/ios/*.xcodeproj/xcuserdata/
app/ios/.xcode.env.local
app/android/.gradle/*
app/android/gradle/*
app/android/app/.cxx/*
app/android/app/build/
app/android/build/
app/android/